<div class="container">

  <h1>Burgers</h1>


<!-- form -->
<div class="container form-container">
  <form class="create-burger-form" method="POST" action="/api/burgers">
    <div class="form-group">
      <input type="text" class="form-control text-input" name="burger" placeholder="Type your burger name here">
    </div>
    
    <button type="submit" id="add-btn" class="btn btn-light"><span>Add Burger </span><i class="fas fa-plus"></i></button>
  </form>
</div>


<div class="container">
  
<div class="row">
    <div class="col list-container">
      <!-- new added burgers-->
      <h2 class="col-title"><i class="fas fa-hamburger"></i> Choices of Burger:</h2>
      <ul class="list-group">
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burgers-block devoured=true}} 
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <!-- burgers that are already eaten -->
    <div class="col list-container">
      <!-- burgers haven't eaten -->
      <ul class="list-group">
        <h2 class="col-title"><i class="fas fa-hamburger"></i> Eaten Burgers:</h2>
        {{#each burgers}}
          {{#if devoured}}
            <li class="list-group-item">
                <!-- shows the burger name -->
                <label>{{burger_name}}</label>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>

    
  </div>
</div>


</div>