h1{
    text-align: center;
    padding: 5%;
    font-family: 'Syncopate', sans-serif;
}
.form-container{
    width: 50%;
    padding: 2.5%;
}
#add-btn{
    display: block;
    margin-left: auto;
}
#add-btn span{
    margin-right: 5px;
}
.text-input{
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid #000000;
}
.text-input:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-container label{
    font-weight: bold;
}
.col-title{
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
}
.list-container{
    margin: 5px;
    padding: 2%;
}
.change-state{
    display: block;
    margin-left: auto;
}
.list-group-item{
    margin: 5px 0;
}