<li class="list-group-item">
    <!-- shows the burger name -->
    <label>{{burger_name}}</label>
    <!-- shows the button to eat the burger -->
    <button class="change-state btn btn-light" data-id="{{id}}" data-newstate="{{devoured}}">
        {{#if devoured}}<i class="fas fa-check"></i> Eat{{/if}}
    </button>
</li>
